/* ****** ****** ****** ****** ****** ****** ****** ****** ****** ****** 
 *  main.css ~ Contains styling for elements throughout the 
 *             the website.
 * ****** ****** ****** ****** ****** ****** ****** ****** ****** ****** */
/* **** COMMON VALUES **** */
/* **** COMMON ELEMENTS **** */
body {
  margin: 2rem;
  display: grid;
  grid-row-gap: 1.25rem;
  background-color: #fff; }

/* For copy and page titles. */
#header-intro-name,
#header-name,
#header-copy,
.nav-links-text-a,
h1,
h2,
h3,
h4,
article p,
#section-resume-info span,
#section-resume-tech_knowledge span,
#section-resume-soft_knowledge span,
#section-resume-work span,
article #section-case_study-intro span,
article .div-case_study-asset-color-info-desc-color span,
article .div-case_study-tech_used-info-list-item span,
form .label-conversation,
form .input-conversation,
form .textarea-conversation {
  font-family: abril-text, Garamond, serif; }

/* Menu links, captions, and quotes */
.nav-links-text-a,
article figure span,
article a,
q,
.div-case_study-assets-background span,
form #input-conversation-submit {
  font-family: industry, Arial, Helvetica, sans-serif; }

.nav-links-text-a,
article a {
  color: #006fb9; }

/* For text which appears on the landing page and page titles. */
#header-intro,
#header-name,
#header-copy,
h1,
h2,
h3,
h4,
article p,
#section-resume-info span,
#section-resume-tech_knowledge span,
#section-resume-soft_knowledge span,
#section-resume-work span,
article #section-case_study-intro span,
article .div-case_study-asset-color-info-desc-color span,
article .div-case_study-tech_used-info-list-item span,
form .label-conversation {
  color: #6d707c; }

/* Page titles. */
h1 {
  margin-top: 0; }

/* For all borders which use orange and magenta. */
.border-red {
  background: #ec1a63;
  background: linear-gradient(90deg, #f6895b 0%, #ec1a63 100%); }

/* For all borders which use light blue and dark blue. */
.border-blue {
  background: #006fb9;
  background: linear-gradient(90deg, #00afde 0%, #006fb9 100%); }

.figure-border-right {
  margin: 0.5rem 0 1.75rem 39%; }

.figure-border-left {
  margin: 0.5rem 61% 1.75rem 0; }

.figure-border-long {
  width: 61%;
  height: 0.31rem;
  background-color: #00afde; }

.figure-border-short {
  width: 30%;
  height: 0.31rem;
  margin-bottom: 0.5rem;
  background-color: #f6895b; }

.figure-border-left.figure-border-short {
  margin: 1.5rem 0 0.5rem 31%; }

/* **** MAIN NAVIGATION **** */
nav {
  /* For all text links within the menu and also the border which appears 
     underneath those links. */
  /* The main menu icon. */
  /* The border which appears underneath the text links within the main menu. */ }
  nav .nav-links-text-a,
  nav #nav-border {
    margin-bottom: 1.25rem;
    display: none; }
  nav #nav-link-menu {
    display: block;
    background-image: url("/assets/img/menu/main_menu.png");
    background-repeat: no-repeat; }
  nav #nav-border {
    width: 2.25rem;
    height: 0.31rem;
    margin-top: 1.25rem; }

/* **** HEADER **** */
header {
  /* For each line of text within the intro. */
  /* For the salutation which appears on the landing page. */
  /* For the intro which appears on the landing page. */
  /* For the first and last name which appears on the landing page. */
  /* The border which appears underneath the first name which appears on the landing page. */
  /* The paragraphs which appear on the landing page. */
  /* The border which appears underneath page titles. */ }
  header span {
    display: block; }
  header #header-intro-welcome {
    font-family: abril-display, Garamond, serif;
    font-weight: 800; }
  header #header-intro-name {
    font-weight: 800; }
  header #header-name {
    font-size: 2.85rem; }
    header #header-name span {
      display: inline-block; }
  header #header-border-name {
    background: #ec1a63;
    background: linear-gradient(90deg, #f6895b 0%, #ec1a63 26%, #00afde 26%, #006fb9 100%); }
  header #header-copy {
    font-size: 1.25rem;
    font-weight: 300; }
  header .header-border-title {
    height: 0.31rem; }

/* **** SOCIAL MEDIA LINKS **** */
#section-social {
  /* The red border which appears above the social media links 
     on the landing page. */ }
  #section-social #social-border {
    width: 2.25rem;
    height: 0.31rem;
    margin-bottom: 1.25rem; }
  #section-social #social-links {
    /* Sets the social media links to the same height, horizontal spacing, and background image. */
    /* Removes the margin to the right of the last social media link. */
    /* For the GitHub link which appears on the far left of the collection of links. */
    /* For the Twitter link which appears in the center of the collection of links. */
    /* For the LinkedIn link which appears on the far right of the collection of links. */ }
    #section-social #social-links .social-links-a {
      height: 2.25rem;
      margin-right: 1rem;
      display: inline-block;
      background-image: url("/assets/img/social/social_links.png");
      background-repeat: no-repeat; }
    #section-social #social-links .social-links-a:last-of-type {
      margin-right: 0; }
    #section-social #social-links #social-link-a-github {
      width: 2.28rem; }
    #section-social #social-links #social-link-a-twitter {
      width: 2.31rem;
      background-position: 0px -36px; }
    #section-social #social-links #social-link-a-linkedin {
      width: 2.81rem;
      background-position: 0px -72px; }

/* **** bio.htm **** */
article p {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.6; }

article .bio-first-p {
  margin-top: 0.5rem; }

article img {
  display: block; }

article figure span {
  width: 90%;
  margin: 0.5rem auto 1.5rem auto;
  display: block;
  font-size: 1rem;
  font-weight: 800;
  color: #f6895b;
  text-align: center; }

article figure #figure-bio-quote-div {
  position: relative;
  background-image: url("/assets/img/bio/bio_quote.jpg"); }

article figure #figure-bio-quote-container-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #00afde;
  opacity: 0.9; }
  article figure #figure-bio-quote-container-div span {
    font-size: 0.8rem;
    font-weight: 400;
    font-style: normal;
    color: #fff; }

article figure q {
  width: 91%;
  margin: 13% auto 5% auto;
  display: block;
  font-size: 0.9rem;
  font-weight: 800;
  font-style: italic;
  color: #fff;
  text-align: center; }

article .article-border-end {
  width: 2.25rem;
  height: 0.31rem;
  margin-top: 1.25rem;
  background-color: #ec1a63; }

/* **** resume.htm **** */
article h2,
article h3 {
  font-family: abril-display, Garamond, serif; }

article .resume-spacer-vertical-div,
article .resume-spacer-vertical-list-div {
  width: 1.56rem;
  display: inline-block; }
  article .resume-spacer-vertical-div .resume-spacer-vertical-gray,
  article .resume-spacer-vertical-div .resume-spacer-vertical-list-magenta,
  article .resume-spacer-vertical-list-div .resume-spacer-vertical-gray,
  article .resume-spacer-vertical-list-div .resume-spacer-vertical-list-magenta {
    width: 0.13rem;
    height: 0.81rem;
    display: inline-block;
    background-color: #c1c6db; }
  article .resume-spacer-vertical-div .resume-spacer-vertical-list-magenta,
  article .resume-spacer-vertical-list-div .resume-spacer-vertical-list-magenta {
    background-color: #ec1a63; }
  article .resume-spacer-vertical-div .resume-spacer-vertical-gray:nth-child(1),
  article .resume-spacer-vertical-div .resume-spacer-vertical-list-magenta:nth-child(1),
  article .resume-spacer-vertical-list-div .resume-spacer-vertical-gray:nth-child(1),
  article .resume-spacer-vertical-list-div .resume-spacer-vertical-list-magenta:nth-child(1) {
    margin-left: 0.55rem; }

article .resume-spacer-horizontal-div {
  width: 11.63rem;
  margin: 2rem auto; }
  article .resume-spacer-horizontal-div .resume-spacer-horizontal-gray,
  article .resume-spacer-horizontal-div .resume-spacer-horizontal-list-magenta,
  article .resume-spacer-horizontal-div .resume-spacer-horizontal-orange {
    height: 0.13rem;
    background-color: #c1c6db; }
  article .resume-spacer-horizontal-div .resume-spacer-horizontal-list-magenta {
    background-color: #ec1a63; }
  article .resume-spacer-horizontal-div .resume-spacer-horizontal-orange {
    height: 0.31rem;
    background-color: #f6895b; }
  article .resume-spacer-horizontal-div .resume-spacer-horizontal-gray:nth-child(1),
  article .resume-spacer-horizontal-div .resume-spacer-horizontal-list-magenta:nth-child(1),
  article .resume-spacer-horizontal-div .resume-spacer-horizontal-orange:nth-child(1) {
    margin-bottom: 0.25rem; }

article .resume-spacer-horizontal-list-div {
  width: 0.81rem;
  margin: 1rem auto; }
  article .resume-spacer-horizontal-list-div .resume-spacer-horizontal-list-magenta {
    height: 0.13rem;
    background-color: #ec1a63; }
  article .resume-spacer-horizontal-list-div .resume-spacer-horizontal-list-magenta:nth-child(2) {
    margin-top: 0.25rem; }

article #section-resume-info img {
  height: auto;
  margin: 0 auto;
  display: block; }

article #section-resume-info span {
  display: block;
  margin: 0.5rem auto; }

article #section-resume-info .resume-info-row-div {
  margin: 0.6rem auto; }

article #section-resume-work h3 {
  margin-bottom: 0; }

article #section-resume-work .resume-work-exp-span {
  display: block; }

article #section-resume-work .resume-work-web_address h3 {
  font-family: abril-text, Garamond, serif; }

article #section-resume-work .resume-work-job_titles,
article #section-resume-work .resume-work-web_address {
  padding-left: 0.5rem;
  border-left: 3px solid #006fb9; }

article #section-resume-download-bottom h2 {
  text-align: center; }

/* **** CASE STUDIES **** */
article #section-case_study-intro h2,
article #section-case_study-intro h3 {
  margin-bottom: 0; }

article #section-case_study-intro span {
  display: block;
  font-weight: 300; }

article #section-case_study-intro h3 {
  font-family: abril-text, Garamond, serif;
  font-weight: 600; }

article #section-case_study-intro .case_study-intro-web_address {
  padding-left: 0.5rem;
  border-left: 3px solid #006fb9; }
  article #section-case_study-intro .case_study-intro-web_address span,
  article #section-case_study-intro .case_study-intro-web_address a {
    margin-top: 0.2rem;
    font-size: 0.9rem; }
  article #section-case_study-intro .case_study-intro-web_address a {
    display: block; }

article .section-case_study-assets h3 {
  border-left: 3px solid #006fb9;
  font-family: abril-text, Garamond, serif;
  font-size: 1.25rem; }

article .section-case_study-assets h4,
article .section-case_study-assets .div-case_study-assets-fonts-desc span {
  display: block; }

article .section-case_study-assets .resume-spacer-vertical-list-div,
article .section-case_study-assets .div-case_study-assets-fonts-info-desc,
article .section-case_study-assets .div-case_study-asset-color-info-square,
article .section-case_study-assets .div-case_study-asset-color-info-desc,
article .section-case_study-assets .div-case_study-asset-color-info-desc-codes {
  display: inline-block; }

article .section-case_study-assets h4 {
  margin: 0 0 0.5rem 0;
  font-size: 1.2rem; }

article .section-case_study-assets .div-case_study-assets-fonts-info {
  margin: 0 0 1.25rem 0.2rem; }

article .section-case_study-assets .resume-spacer-vertical-list-div {
  margin: 0.5rem 0 0.75rem 0;
  vertical-align: top; }

article .section-case_study-assets #div-case_study-asset-font-amboy span,
article .section-case_study-assets #div-case_study-asset-font-cholla_wide span,
article .section-case_study-assets #div-case_study-asset-font-korolev_military_stencil span {
  font-size: 1.5rem; }

article .section-case_study-assets #div-case_study-asset-font-amboy span {
  font-family: amboy; }

article .section-case_study-assets #div-case_study-asset-font-cholla_wide span {
  font-family: cholla-wide; }

article .section-case_study-assets #div-case_study-asset-font-korolev_military_stencil span {
  font-family: korolev-military-stencil; }

article .section-case_study-assets .div-case_study-asset-color-info-square {
  border: 1px solid #c1c6db;
  vertical-align: top; }

article .section-case_study-assets #div-case_study-asset-color-info-square-yellow {
  background-color: #fff113; }

article .section-case_study-assets #div-case_study-asset-color-info-square-blue {
  background-color: #00a1e1; }

article .section-case_study-assets .div-case_study-asset-color-info-desc-codes h4 {
  margin-bottom: 0 !important; }

article .section-case_study-tech_used h3 {
  border-left: 3px solid #006fb9;
  font-family: abril-text, Garamond, serif;
  font-size: 1.25rem; }

article .section-case_study-takeaways h3 {
  border-left: 3px solid #006fb9;
  font-family: abril-text, Garamond, serif;
  font-size: 1.25rem; }

/* **** START A CONVERSATION **** */
article #section-conversation-links {
  margin: 0 auto; }
  article #section-conversation-links a {
    display: inline-block;
    font-size: 1.25rem; }

#form-conversation .label-conversation {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 700; }

#form-conversation .input-conversation,
#form-conversation .textarea-conversation {
  padding: 0.5rem;
  color: #51545b;
  border: 3px solid #c1c6db; }

#form-conversation #input-conversation-submit {
  width: 17.5rem;
  padding: 0.8rem 0.5rem;
  border: 3px solid #ec1a63;
  font-size: 1rem;
  font-weight: 600;
  color: #ec1a63;
  text-align: center; }

/* ********************************* 
      DESKTOP - 1920 x XXXX
   ********************************* */
@media (max-width: 1920px) {
  /* **** LANDING PAGE **** */
  #body-landing {
    grid-template-columns: auto 9.25rem;
    row-gap: 5rem;
    margin: 6rem 6rem 0 6rem; }
  header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1; }
    header #header-intro span {
      font-size: 2rem; }
    header #header-intro #header-intro-name {
      margin-top: 1rem; }
    header #header-name {
      margin-top: 1rem;
      font-size: 4.75rem; }
      header #header-name span {
        display: block;
        line-height: 5rem; }
    header #header-border-name {
      width: 11.5rem;
      height: 0.31rem;
      margin-top: 0.75rem; }
    header #header-copy {
      width: 30rem;
      transform: translate(130%, -106%);
      font-size: 1.75rem;
      line-height: 1.7; }
  #nav-other-landing {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1; }
    #nav-other-landing #nav-link-menu {
      display: none;
      transform: none; }
    #nav-other-landing .nav-links-text-a {
      display: block;
      font-size: 1.5rem; }
    #nav-other-landing #nav-border {
      display: block;
      margin-top: 1.75rem; }
  .nav-iphone {
    display: none; }
  #section-social {
    grid-row: 2 / span 1; }
    #section-social #social-links .social-links-a {
      margin-right: 1.25rem;
      margin-bottom: 0;
      display: inline-block; }
    #section-social #social-links .social-links-a:last-of-type {
      margin-right: 0; }
  #section-logo-landing {
    grid-row: 2 / span 1; }
    #section-logo-landing a {
      width: 3.75rem;
      margin: 0 auto;
      display: block;
      transform: translate(0%, 10%); }
  /* **** BIO **** */
  .body-content {
    grid-template-columns: auto 2.37rem;
    margin: 6rem; }
  header #header-bio,
  header #header-resume,
  header #header-case_study,
  header #header-conversation {
    grid-column: 1 / span 1; }
  header h1 {
    margin-bottom: 0.5rem; }
  header #header-border-title-bio {
    width: 3rem; }
  #nav-other-bio,
  #nav-other-resume,
  #nav-other-case_study,
  #nav-other-conversation {
    grid-column: 2 / span 1; }
  nav #nav-link-menu {
    width: 2.37rem;
    height: 2.37rem;
    margin-top: 0.5rem;
    display: block !important;
    transform: none !important;
    margin-top: 0 !important; }
  nav .nav-links-text-a {
    display: none; }
  nav #nav-border {
    display: none; }
  article {
    grid-column: 1 / span 2; }
    article p {
      width: 25%;
      margin: 2rem auto;
      font-size: 1.5rem;
      line-height: 1.7; }
    article .p-column-1 {
      transform: translate(-85%, 0%); }
    article figure {
      width: 67%;
      margin: 3rem auto; }
      article figure img {
        margin-left: 9.25rem;
        display: inline-block; }
      article figure span {
        width: 5rem;
        margin: 0 0 1.5rem 0.5rem;
        padding-left: 0.69rem;
        display: inline-block;
        border-left: 0.31rem solid #f6895b;
        text-align: left;
        vertical-align: top; }
      article figure #figure-bio-quote-div {
        width: 45rem;
        height: 27.81rem;
        margin: 0 auto;
        background-size: 45rem 27.81rem; }
      article figure #figure-bio-quote-container-div {
        width: 20.6rem;
        height: 12.8rem; }
        article figure #figure-bio-quote-container-div q {
          margin: 13% auto 4% auto;
          font-size: 1.5rem; }
        article figure #figure-bio-quote-container-div span {
          width: 7rem;
          margin: 0 auto;
          padding-left: 0;
          display: block;
          border-left: none;
          font-size: 1rem;
          text-align: center; }
    article img,
    article #figure-bio-quote-div {
      width: 45rem; }
    article #figure-bio-quote-div {
      height: 12.31rem;
      background-size: 18.5rem; }
    article .article-border-end {
      margin-left: 59%; }
  #section-logo-bio,
  #section-logo-resume,
  #section-logo-case_study,
  #section-logo-conversation {
    width: 3.75rem;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1; }
    #section-logo-bio a,
    #section-logo-resume a,
    #section-logo-case_study a,
    #section-logo-conversation a {
      transform: none; } }

/* ********************************* 
      CHROME - MOBILE - 980 x XXX
   ********************************* */
@media (max-width: 980px) {
  header {
    grid-column: 1 / span 2;
    /* The salutation, intro, and name located on the landing page. */
    /* The border underneath the first name on the landing page. */
    /* The paragraphs located on the landing page. */
    /* Page titles */ }
    header #header-intro {
      /* The word, 'Welcome', on the landing page. */ }
      header #header-intro span {
        font-size: 1.25rem; }
      header #header-intro #header-intro-welcome {
        margin-bottom: 1.25rem;
        font-style: italic; }
    header #header-border-name {
      width: 6.85rem;
      height: 0.31rem; }
    header #header-copy p {
      line-height: 1.6; }
    header #header-copy p:first-of-type {
      margin-top: 1rem; }
    header #header-copy p:last-of-type {
      margin-bottom: 0; }
    header h1 {
      margin-bottom: 0.2rem;
      grid-column: 1 / span 2;
      font-size: 1.3rem; }
    header #header-border-title-bio {
      width: 2rem; }
    header #header-border-title-resume {
      width: 4.9rem; }
    header #header-border-title-case_study {
      width: 6.8rem; }
    header #header-border-title-conversation {
      width: 12.8rem; }
  /* For the social media links viewable below the copy on the front page. */
  #section-social {
    grid-column: 1 / span 2; }
  /* The menu located at the bottom of the browser window. */
  nav {
    grid-column: 1 / span 1;
    /* The link within the main menu, 'Read Bio'. */
    /* The link within the main menu, 'View Resume'. */
    /* The link within the main menu, 'View Case Studies'. */
    /* The link within the main menu, 'Start a Conversation. */ }
    nav .nav-links-text-a {
      font-size: 1.25rem;
      line-height: 1.4; }
    nav #nav-link-menu {
      width: 2.37rem;
      height: 2.5rem;
      margin-top: 0.5rem; }
    nav #nav-link-text-a-bio {
      width: 3rem; }
    nav #nav-link-text-a-resume {
      width: 4.6rem; }
    nav #nav-link-text-a-case_study {
      width: 6.5rem; }
    nav #nav-link-text-a-conversation {
      width: 7.5rem; }
  .section-logo {
    grid-column: 2 / span 1;
    text-align: right; }
    .section-logo a {
      display: block; }
      .section-logo a img {
        width: 3.75rem;
        height: auto; }
  /* **** bio.htm **** */
  article {
    grid-column: 1 / span 2; }
    article figure {
      margin: 2rem auto; }
    article img,
    article #figure-bio-quote-div {
      width: 18.5rem; }
    article #figure-bio-quote-div {
      height: 12.31rem;
      background-size: 18.5rem; }
    article #figure-bio-quote-container-div {
      width: 13rem;
      height: 8.5rem; }
    article #figure-bio-quote-div,
    article #figure-bio-portrait img {
      margin-bottom: 1.75rem; }
  /* **** resume.htm **** */
  article .resume-links-div {
    width: 7.75rem;
    margin: 0 auto; }
  article .section-resume-documents h2 {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    text-align: center; }
  article .section-resume-documents .resume-documents-spacer-horizontal {
    display: none; }
  article .section-resume-documents a {
    display: inline-block;
    font-size: 1.25rem; }
  article #section-resume-info img {
    width: 15.31rem; }
  article #section-resume-info span {
    width: 5.8rem;
    font-size: 1rem; }
  article #section-resume-info #resume-info-row-1 {
    width: 7.5rem; }
  article #section-resume-info #resume-info-row-2 {
    width: 14.1rem; }
  article #section-resume-objective {
    margin-top: 1.3rem; }
  article #section-resume-education p,
  article #section-resume-tech_knowledge span,
  article #section-resume-tech_knowledge p,
  article #section-resume-soft_knowledge span,
  article #section-resume-soft_knowledge p,
  article .resume-work-responsibilities p {
    font-size: 1.1rem;
    line-height: 1.8; }
  article #section-resume-education h2,
  article #section-resume-education p,
  article #section-resume-tech_knowledge h2,
  article #section-resume-tech_knowledge h3,
  article #section-resume-tech_knowledge span,
  article #section-resume-tech_knowledge p,
  article #section-resume-soft_knowledge h2,
  article #section-resume-soft_knowledge h3,
  article #section-resume-soft_knowledge span,
  article #section-resume-soft_knowledge p {
    text-align: center; }
  article #section-resume-tech_knowledge .resume-spacer-vertical-list-div,
  article #section-resume-soft_knowledge .resume-spacer-vertical-list-div {
    display: none; }
  article #section-resume-tech_knowledge span,
  article #section-resume-soft_knowledge span {
    display: block; }
  article #section-resume-tech_knowledge .resume-list span:last-of-type,
  article #section-resume-soft_knowledge .resume-list span:last-of-type {
    margin-bottom: 2rem; }
  article #section-resume-work h2 {
    margin-bottom: 0.5rem; }
  article #section-resume-work #p-resume-work-title,
  article #section-resume-work .resume-work-exp-span {
    text-align: center; }
  article #section-resume-work p {
    margin: 0.5rem 0 0.25rem 0; }
  article #section-resume-work .resume-work-web_address {
    margin-bottom: 1rem; }
    article #section-resume-work .resume-work-web_address h3 {
      font-size: 1rem; }
    article #section-resume-work .resume-work-web_address a {
      display: block;
      font-size: 0.9rem; }
  article #section-resume-work .resume-work-jobs:first-of-type {
    margin-bottom: 2rem; }
  article #section-resume-work .resume-work-responsibilities .resume-spacer-vertical-list-div {
    margin-top: 0.45rem;
    vertical-align: top; }
    article #section-resume-work .resume-work-responsibilities .resume-spacer-vertical-list-div .resume-spacer-vertical-list-magenta:nth-child(1) {
      margin-left: 0.75rem; }
  article #section-resume-work .resume-work-responsibilities p {
    width: 16.25rem;
    margin: 0 0 1.25rem 0;
    display: inline-block; }
  article #section-resume-work .resume-work-responsibilities p:last-of-type {
    margin-bottom: 0; }
  article #section-resume-download-bottom a {
    font-size: 1.25rem; }
  /* **** CASE STUDY **** */
  article #figure-case_study-intial-landing_page,
  article #figure-case_study-revised-landing_page {
    margin-bottom: 1.5rem; }
  article #figure-case_study-intial-employment,
  article #figure-case_study-revised-employment {
    margin-top: 1.5rem; }
  article #figure-case_study-revised-employment span {
    width: 94%; }
  article .section-case_study-assets {
    margin: 2rem 0; }
    article .section-case_study-assets .div-case_study-assets-fonts,
    article .section-case_study-assets .div-case_study-assets-background {
      margin-bottom: 1.75rem; }
    article .section-case_study-assets h3 {
      padding-left: 0.5rem; }
    article .section-case_study-assets .div-case_study-assets-background span {
      width: 90%;
      margin: 0.5rem auto 1.5rem auto;
      display: block;
      font-size: 1rem;
      font-weight: 800;
      color: #f6895b;
      text-align: center; }
    article .section-case_study-assets .div-case_study-assets-background img {
      width: 17.1rem;
      margin-left: 0.75rem; }
    article .section-case_study-assets .div-case_study-asset-color-info-desc-color {
      margin-bottom: 1.25rem; }
    article .section-case_study-assets .div-case_study-asset-color-info {
      margin: 0 0 2rem 0.75rem; }
    article .section-case_study-assets .div-case_study-asset-color-info-desc-color span {
      font-size: 1.25rem; }
    article .section-case_study-assets .div-case_study-asset-color-info-square {
      width: 9.75rem;
      height: 9.75rem; }
  article .section-case_study-tech_used {
    margin: 2rem 0; }
    article .section-case_study-tech_used h3 {
      padding-left: 0.5rem; }
    article .section-case_study-tech_used h4 {
      margin: 2.5rem 0 1.25rem 0.75rem;
      font-size: 1.2rem; }
    article .section-case_study-tech_used h4:first-of-type {
      margin-top: 0; }
    article .section-case_study-tech_used .div-case_study-tech_used-info-list-item {
      margin: 0 0 1.25rem 0.25rem; }
    article .section-case_study-tech_used .resume-spacer-vertical-list-div,
    article .section-case_study-tech_used .div-case_study-tech_used-info-list-item span {
      display: inline-block; }
    article .section-case_study-tech_used .div-case_study-tech_used-info-list-item span {
      font-size: 1.25rem; }
  article .section-case_study-takeaways {
    margin: 2rem 0; }
    article .section-case_study-takeaways h3 {
      padding-left: 0.5rem; }
    article .section-case_study-takeaways .resume-spacer-vertical-list-div,
    article .section-case_study-takeaways .div-case_study-takeaways-list-copy {
      display: inline-block; }
    article .section-case_study-takeaways .div-case_study-takeaways-list-item .resume-spacer-vertical-list-div {
      margin: 0.5rem 0 0 0.25rem;
      vertical-align: top; }
    article .section-case_study-takeaways .div-case_study-takeaways-list-item .div-case_study-takeaways-list-copy {
      width: 16.25rem; }
      article .section-case_study-takeaways .div-case_study-takeaways-list-item .div-case_study-takeaways-list-copy p:first-of-type {
        margin-top: 0; }
  /* **** START A CONVERSATION **** */
  #form-conversation {
    grid-column: 1 / span 2; }
    #form-conversation .input-conversation,
    #form-conversation .textarea-conversation {
      width: 17.5rem;
      margin-bottom: 1.25rem;
      font-size: 1.25rem; }
    #form-conversation .textarea-conversation {
      height: 10.8rem; } }

/* ********************************* 
      iPAD - 768 x 1024
   ********************************* */
@media (max-width: 768px) {
  /* **** LANDING PAGE **** */
  #body-landing {
    row-gap: 11rem; }
  header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1; }
    header #header-intro span {
      font-size: 2rem; }
    header #header-name {
      font-size: 5rem; }
    header #header-border-name {
      width: 12.1rem; }
    header #header-copy {
      font-size: 1.8rem; }
  .nav-other {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1; }
    .nav-other #nav-link-menu {
      transform: translate(210%, 0%); }
  .nav-iphone {
    display: none; }
  #section-social {
    grid-row: 2 / span 1; }
    #section-social #social-links .social-links-a {
      margin-right: 0;
      margin-bottom: 1.5rem;
      display: block; }
    #section-social #social-links .social-links-a:first-of-type {
      margin-top: 1.5rem; }
    #section-social #social-links .social-links-a:last-of-type {
      margin-bottom: 0; }
  .section-logo {
    grid-row: 2 / span 1; }
    .section-logo a {
      transform: translate(0%, 240%); }
  /* **** BIOGRAPHY **** */
  .body-content {
    grid-template-columns: auto 2.37rem;
    margin: 3rem 4rem; }
  #header-bio,
  #header-resume,
  #header-case_study,
  #header-conversation {
    grid-column: 1 / span 1; }
  #nav-other-bio,
  #nav-other-resume,
  #nav-other-case_study,
  #nav-other-conversation {
    grid-column: 2 / span 1; }
    #nav-other-bio #nav-link-menu,
    #nav-other-resume #nav-link-menu,
    #nav-other-case_study #nav-link-menu,
    #nav-other-conversation #nav-link-menu {
      transform: none;
      margin-top: 0; }
  article {
    grid-column: 1 / span 2; }
    article p {
      width: 61%;
      margin: 1.25rem auto;
      font-size: 1.5rem;
      line-height: 1.7; }
    article img {
      width: 25rem;
      display: inline-block; }
    article #figure-bio-quote-div,
    article #figure-bio-portrait img {
      margin-bottom: 0; }
    article figure {
      width: 80%;
      margin: 3rem auto; }
      article figure span {
        width: 5rem;
        margin: 0 0 1.5rem 0.5rem;
        padding-left: 0.69rem;
        display: inline-block;
        border-left: 0.31rem solid #f6895b;
        text-align: left;
        vertical-align: top; }
      article figure #figure-bio-quote-div {
        width: 33.31rem;
        height: 20.6rem;
        margin-bottom: 0;
        background-size: 33.31rem 20.6rem; }
      article figure #figure-bio-quote-container-div {
        width: 20.6rem;
        height: 12.8rem; }
        article figure #figure-bio-quote-container-div q {
          margin: 13% auto 4% auto;
          font-size: 1.5rem; }
        article figure #figure-bio-quote-container-div span {
          width: 7rem;
          margin: 0 auto;
          padding-left: 0;
          display: block;
          border-left: none;
          font-size: 1rem;
          text-align: center; }
    article #figure-bio-portrait img {
      width: 33.31rem;
      display: block; }
    article .article-border-end {
      margin-left: 19.5%; }
  #section-logo-bio,
  #section-logo-resume,
  #section-logo-case_study,
  #section-logo-conversation {
    grid-row: 3 / span 1; }
    #section-logo-bio a,
    #section-logo-resume a,
    #section-logo-case_study a,
    #section-logo-conversation a {
      transform: none; }
  /* **** RESUME **** */
  article h2 {
    font-size: 1.75rem; }
  article h3 {
    font-size: 1.4rem; }
  article .section-resume-documents {
    text-align: center; }
    article .section-resume-documents h2,
    article .section-resume-documents .resume-links-div {
      display: inline-block; }
    article .section-resume-documents h2 {
      margin-bottom: 0; }
    article .section-resume-documents .resume-documents-spacer-horizontal {
      width: 0.5rem;
      height: 2px;
      margin: 0.5rem;
      display: inline-block;
      background-color: #c1c6db;
      vertical-align: middle; }
  article #section-resume-info img {
    width: 24.88rem; }
  article #section-resume-info span {
    width: 7.25rem;
    font-size: 1.25rem; }
  article #section-resume-education p,
  article #section-resume-tech_knowledge span,
  article #section-resume-tech_knowledge p,
  article #section-resume-soft_knowledge span,
  article #section-resume-soft_knowledge p,
  article .resume-work-responsibilities p {
    font-size: 1.5rem;
    line-height: 1.8; }
  article #section-resume-education h2 {
    margin-bottom: 0.75rem; }
  article #section-resume-work h2 {
    text-align: center; }
  article #section-resume-work #p-resume-work-title {
    margin: 0 auto; }
  article #section-resume-work .resume-work-jobs {
    width: 22rem;
    margin: 2rem auto; }
  article #section-resume-work .resume-work-exp-span,
  article #section-resume-work .resume-work-job_titles span,
  article #section-resume-work .resume-work-web_address span {
    font-size: 1.3rem; }
  article #section-resume-work .resume-work-web_address h3, article #section-resume-work .resume-work-web_address a {
    font-size: 1.2rem; }
  article #section-resume-work .resume-work-responsibilities {
    margin-top: 1.25rem; }
    article #section-resume-work .resume-work-responsibilities .resume-spacer-vertical-list-div {
      margin-top: 0.9rem; }
    article #section-resume-work .resume-work-responsibilities p {
      width: 20rem; }
  article #article-border-end-resume {
    margin-left: 8.9rem; }
  /* **** CASE STUDY **** */
  article #section-case_study-intro {
    width: 23.5rem;
    margin: 0 auto; }
    article #section-case_study-intro span,
    article #section-case_study-intro .case_study-intro-web_address span {
      font-size: 1.2rem; }
    article #section-case_study-intro .resume-spacer-vertical-list-div {
      width: 1rem;
      margin-top: 1.5rem;
      display: inline-block;
      vertical-align: top; }
      article #section-case_study-intro .resume-spacer-vertical-list-div .resume-spacer-vertical-list-magenta:nth-child(1) {
        margin-left: 0; }
    article #section-case_study-intro .case_study-intro-web_address {
      padding-left: 0;
      display: inline-block;
      border-left: none; }
      article #section-case_study-intro .case_study-intro-web_address a {
        font-size: 1.2rem; }
  article .section-case_study-assets h3,
  article .section-case_study-tech_used h3,
  article .section-case_study-takeaways h3 {
    font-size: 1.4rem; }
  article .section-case_study-assets h4,
  article .section-case_study-tech_used h4 {
    font-size: 1.25rem; }
  article .section-case_study-assets .div-case_study-asset-color-info-desc-color span,
  article .section-case_study-tech_used .div-case_study-tech_used-info-list-item span {
    font-size: 1.4rem; }
  article .section-case_study-assets,
  article .section-case_study-tech_used,
  article .section-case_study-takeaways {
    width: 61%;
    margin: 2rem auto; }
  article .figure-case_study {
    width: 36.88rem; }
    article .figure-case_study img {
      width: 28rem; }
    article .figure-case_study span {
      width: 7rem; }
    article .figure-case_study .figure-border {
      display: none; }
  article .figure-case_study + .figure-case_study span {
    margin: 0 0.75rem 0 0;
    padding-left: 0;
    padding-right: 0.69rem;
    float: left;
    border-left: none;
    border-right: 0.31rem solid #f6895b;
    text-align: right; }
  article #figure-case_study-revised-employment span {
    width: 7rem; }
  article .section-case_study-assets h3 {
    font-size: 1.4rem; }
  article .section-case_study-assets h4 {
    font-size: 1.25rem; }
  article .section-case_study-assets #div-case_study-asset-font-amboy span,
  article .section-case_study-assets #div-case_study-asset-font-cholla_wide span,
  article .section-case_study-assets #div-case_study-asset-font-korolev_military_stencil span {
    font-size: 2rem; }
  article .section-case_study-assets .div-case_study-assets-background img {
    width: 23.5rem; }
  article .section-case_study-takeaways .div-case_study-takeaways-list-item .div-case_study-takeaways-list-copy {
    width: 21.5rem; }
  article .section-case_study-takeaways .div-case_study-takeaways-list-item p {
    width: 100%; }
  article .section-case_study-takeaways .div-case_study-takeaways-list-item:last-of-type .div-case_study-takeaways-list-copy:last-of-type p:last-of-type {
    margin-bottom: 0; }
  article #article-border-end-case_study {
    margin-left: 24.5%; }
  /* **** START A CONVERSATION **** */
  article #section-conversation-links {
    width: 21.5rem; }
    article #section-conversation-links a {
      font-size: 1.5rem; }
  article #spacer-horizontal-div-conversation {
    margin: 2rem auto 0.25rem auto; }
  #form-conversation {
    grid-row: 3 / span 1;
    width: 24.5rem;
    margin: 0 auto; }
    #form-conversation .label-conversation {
      font-size: 1.25rem; }
    #form-conversation .input-conversation,
    #form-conversation .textarea-conversation {
      font-size: 1.5rem; }
    #form-conversation .input-conversation,
    #form-conversation .textarea-conversation,
    #form-conversation #input-conversation-submit {
      width: 23rem; }
    #form-conversation #input-conversation-submit {
      font-size: 1.25rem; }
  #section-logo-conversation {
    grid-row: 4 / span 1; } }

/* ********************************* 
      iPHONE 6/7/8 PLUS - 414 x 736
   ********************************* */
@media (max-width: 414px) {
  /* **** LANDING PAGE **** */
  header #header-name {
    font-size: 3.4rem; }
  header #header-border-name {
    width: 8.1rem; }
  /* **** BIOGRAPHY **** */
  article p {
    line-height: 1.7; }
  article img,
  article #figure-bio-quote-div {
    width: 22rem; }
  /* **** RESUME **** */
  article .resume-spacer-horizontal-div {
    width: 13.56rem; }
  article #section-resume-work h2 {
    text-align: center; }
  article #section-resume-work .resume-work-responsibilities p {
    width: 19rem; }
  /* **** CASE STUDIES **** */
  article .section-case_study-assets .div-case_study-assets-background img {
    width: 20.5rem; }
  article .section-case_study-takeaways .div-case_study-takeaways-list-item .div-case_study-takeaways-list-copy {
    width: 19.75rem; }
  /* **** START A CONVERSATION **** */
  #form-conversation .input-conversation,
  #form-conversation .textarea-conversation,
  #form-conversation #input-conversation-submit {
    width: 20rem; } }

/* ********************************* 
      iPHONE 6/7/8 - 375 x 667
   ********************************* */
@media (max-width: 375px) {
  /* **** LANDING PAGE **** */
  header #header-name {
    font-size: 3rem; }
  /* **** BIOGRAPHY **** */
  article img,
  article #figure-bio-quote-div {
    width: 19.5rem; }
  /* **** RESUME **** */
  article .resume-spacer-horizontal-div {
    width: 12.06rem; }
  /* **** CASE STUDIES **** */
  article .section-case_study-assets .div-case_study-assets-background img {
    width: 18rem; }
  article .section-case_study-assets .div-case_study-asset-color-info-square {
    width: 10.25rem;
    height: 10.25rem; }
  /* **** START A CONVERSATION **** */
  #form-conversation .input-conversation,
  #form-conversation .textarea-conversation,
  #form-conversation #input-conversation-submit {
    width: 17.75rem; } }

/* ********************************* 
      iPHONE 5 - 320 x 568
   ********************************* */
@media (max-width: 320px) {
  /* **** LANDING PAGE **** */
  header #header-name {
    font-size: 2.49rem; }
  /* **** BIOGRAPHY **** */
  article img,
  article #figure-bio-quote-div {
    width: 16rem; }
  /* **** RESUME **** */
  article h2 {
    font-size: 1.3rem; }
  article p {
    font-size: 1.1rem;
    line-height: 1.7; }
  article .resume-spacer-horizontal-div {
    width: 9.31rem; }
  article .resume-links-div {
    width: 7rem; }
    article .resume-links-div a {
      font-size: 1.1rem; }
  article #section-resume-work .resume-work-job_titles span,
  article #section-resume-work .resume-work-caption {
    font-size: 0.9rem; }
  article #section-resume-work .resume-work-responsibilities p {
    width: 14rem; }
  /* **** CASE STUDIES **** */
  article .section-case_study-assets h4,
  article .section-case_study-assets .div-case_study-asset-color-info-desc-color span {
    font-size: 1.1rem; }
  article .section-case_study-assets .div-case_study-assets-fonts-info-desc {
    font-size: 1.45rem; }
  article .section-case_study-assets .div-case_study-assets-background img {
    width: 15.5rem; }
  article .section-case_study-assets .div-case_study-asset-color-info-square {
    width: 7.75rem;
    height: 7.75rem; }
  article .section-case_study-tech_used h3 {
    font-size: 1.1rem; }
  article .section-case_study-tech_used h4,
  article .section-case_study-tech_used .div-case_study-tech_used-info-list-item span {
    font-size: 1rem; }
  article .section-case_study-tech_used .div-case_study-tech_used-info-list-item {
    margin: 0 0 0.9rem 0.25rem; }
  article .section-case_study-takeaways h3 {
    font-size: 1.1rem; }
  article .section-case_study-takeaways .div-case_study-takeaways-list-item .div-case_study-takeaways-list-copy {
    width: 14rem; }
  /* **** START A CONVERSATION **** */
  article #section-conversation-links a {
    font-size: 1rem; }
  #form-conversation .input-conversation,
  #form-conversation .textarea-conversation,
  #form-conversation #input-conversation-submit {
    width: 15rem; }
  #form-conversation .input-conversation,
  #form-conversation .textarea-conversation {
    font-size: 1.1rem; } }
